.App-wrapper {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 100px 1fr;
    background-color: rgba(97, 97, 97, 0.575);
    -webkit-box-shadow: 0px 0px 56px 33px rgba(87, 119, 144, 0.26);
    -moz-box-shadow: 0px 0px 56px 33px rgba(87, 119, 144, 0.26);
    box-shadow: 0px 0px 56px 33px rgba(87, 119, 144, 0.26);
    overflow-x: hidden;
}
.App-map-wrapper{
    width: 100%;
}
@media (min-width: 1920px) {
    .App-wrapper {
        padding: 0 calc(50% - 960px);
    }
}
@media (max-width: 950px) {
    .App-wrapper {
        grid-template-rows: 70px 1fr;
    }
}
@media (max-width: 500px) {
    .App-wrapper {
        grid-template-rows: 1fr;
    }
}